In [1]:
%%capture --no-stdout
import tester
tester.run_all_tests()

Running tests...
========================================
TEST has_classes (8)
========================================
TEST service_ids (20)
========================================
TEST get_trips (8)
========================================
TEST get_trips_by_route (10)
========================================
TEST get_stops (8)
========================================
TEST get_stops_rect (10)
========================================
TEST get_stops_circ (10)
========================================
TEST scatter_stops (20)
distribution of scatter points red-x not correct: expected 1542 points but found 0 points
distribution of scatter points red-y not correct: expected 1542 points but found 0 points
distribution of scatter points gray-x not correct: expected 559 points but found 0 points
distribution of scatter points gray-y not correct: expected 559 points but found 0 points
distribution of scatter points red-x not correct: expected 1164 points but found 0 points
distribution of scatter points red-y not correct: expected 1164 points but found 0 points
distribution of scatter points gray-x not correct: expected 239 points but found 0 points
distribution of scatter points gray-y not correct: expected 239 points but found 0 points
========================================
TEST draw_tree (6)
Traceback (most recent call last):
  File "/Users/zyxu/Documents/cs320/p2/tester.py", line 94, in run_all_tests
    points = t.fn()
  File "/Users/zyxu/Documents/cs320/p2/tester.py", line 343, in draw_tree
    bd.draw_tree(ax)
AttributeError: 'BusDay' object has no attribute 'draw_tree'

Earned 86 of 100 points
========================================
SCORE: 86.0% (details in results.json)

In [2]:
import bus
from bus import BusDay
from datetime import datetime

In [3]:
fri = BusDay(datetime(2020, 2, 22))
fri.service_ids

['88_SAT', '88_SAT:L', '88_SAT:S']

In [4]:
fri.triptable[['trip_id', 'route_short_name', 'bikes_allowed']].values.tolist()[:10]

[[905039, 2, 1],
 [905040, 2, 1],
 [905041, 2, 1],
 [905042, 2, 1],
 [905043, 2, 1],
 [905044, 2, 1],
 [905045, 2, 1],
 [905046, 2, 1],
 [905047, 2, 1],
 [905048, 2, 1]]

In [5]:
import pandas as pd

def do_something(df):
    foo = df[['bar', 'baz']]  # Is foo a view? A copy? Nobody knows!
    # ... many lines here ...
    # We don't know whether this will modify df or not!
    foo['quux'] = [6,6,6]
    return foo

In [6]:
df = pd.DataFrame({"bar":[2,3,4],'baz':[3,4,5],'as':[4,5,6]})
df

   bar  baz  as
0    2    3   4
1    3    4   5
2    4    5   6

In [7]:
do_something(df)

   bar  baz  quux
0    2    3     6
1    3    4     6
2    4    5     6

In [8]:
df

   bar  baz  as
0    2    3   4
1    3    4   5
2    4    5   6